[2008-06-10 16:14] glassfishrobot opened #2 "The jsp-api-2.1 jar dependency in the pom does not incorporate the changes"
The jsp-api-2.1 jar dependency in the pom does not incorporate the changes
to javax.el.ExpressionFactory that is present in the glassfish sources,
resulting in a compilation error on javax.el.ExpressionFactory.newInstance().
#### Environment
Operating System: All
Platform: All
#### Affected Versions
[current]

[2008-06-10 16:15] glassfishrobot opened #3 "Missing message.properties"
The generated jar doesn't seem to include the property files, which results
in runtime errors eg org/apache/japser/resources/messages.properties is missing.
#### Environment
Operating System: All
Platform: All
#### Affected Versions
[current]

[2008-06-10 16:16] glassfishrobot opened #4 "Update dependency on eclipse JDT to version 3.1.0 or higher."
dependency eclipse-jdtcore-2.1.0 needs to be updated to 3.1.0 (or higher) to
compile successfully if JDTJavaCompiler needs is included in the compilation.
#### Environment
Operating System: All
Platform: All
#### Affected Versions
[current]

[2008-06-10 16:20] glassfishrobot opened #5 "Remove dependency on com.sun.* packages to be more generic"
the packages: com/sun/appserv, com/sun/common/**, com/sun/el/** and
com/sun/org/apache/commons/logging/* need to be on the classpath at runtime - is
this a dependency that can be removed to make the jsp module more generic?
#### Environment
Operating System: All
Platform: All
#### Affected Versions
[current]

[2008-06-16 18:55] glassfishrobot opened #6 "javax.el.ExpressionFactory needs to be updated"
The jsp-api-2.1 jar dependency in the pom does not incorporate the changes
to javax.el.ExpressionFactory that is present in the glassfish sources,
resulting in a compilation error on javax.el.ExpressionFactory.newInstance().
#### Environment
Operating System: All
Platform: All
#### Affected Versions
[current]

[2008-06-16 18:56] glassfishrobot opened #7 "Properties missing from jar"
The generated jar doesn't seem to include the property files, which results
in runtime errors eg org/apache/jasper/resources/messages.properties is missing.
#### Environment
Operating System: All
Platform: All
#### Affected Versions
[current]

[2008-06-16 18:57] glassfishrobot opened #8 "jdt compiler upgrade version"
Dependency eclipse-jdtcore-2.1.0 needs to be updated to 3.1.0 (or higher) to
compile successfully if JDTJavaCompiler needs is included in the compilation.
#### Environment
Operating System: All
Platform: All
#### Affected Versions
[current]

[2008-06-18 15:29] #2 closed, assigned to glassfishrobot

[2008-07-17 09:58] #3 closed, assigned to glassfishrobot

[2008-07-17 09:58] #7 closed, assigned to glassfishrobot

[2008-07-17 09:59] #4 closed, assigned to glassfishrobot

[2008-07-17 09:59] #8 closed, assigned to glassfishrobot

[2008-07-17 15:22] #6 closed, assigned to glassfishrobot

[2008-08-20 02:20] glassfishrobot opened #9 "XSS patch for EL"
Hi everyone,

There is an old post from Matt Raible regarding an XSS vulnerability present in
all tomcat installations by default:
[http://raibledesigns.com/rd/entry/java_web_frameworks_and_xss](http://raibledesigns.com/rd/entry/java_web_frameworks_and_xss)

The JSP I have attached shows a quick-and-dirty test to inject arbitrary HTML
into your page using EL expressions like $

{foobar}

. I know

[2009-01-07 14:06] glassfishrobot opened #10 "option to jspc command to disable custom tag pooling"
With the jspc command, custom tag pooling is always enabled.
For some applications it would be nice if it were possible to disable tag pooling.
#### Environment
Operating System: All
Platform: All
#### Affected Versions
[current]

[2009-01-19 20:02] glassfishrobot opened #11 "message for jsp.error.beans.propertyeditor.notregistered"
I noticed that four arguments are specified in the code for the following
message, but the 4th is not displayed:

jsp.error.beans.property.conversion=PWC6338: Cannot convert \"

{0}\" for the
attribute {2} of the bean {1}

The fourth argument is the IllegalArgumentException's message. This message is
the same as {0}

in case the exception was thrown by setAsText, but when the
property editor not r

[2009-04-06 10:30] #10 closed, assigned to glassfishrobot

[2009-04-09 01:22] glassfishrobot opened #12 "Remove hard dependency on ant java compiler"
Rather than have a hard code dependency on ant via the AntJavaCompiler, it could
perhaps be loaded dynamically, like the JDT java compiler. That way, the number
of jar dependencies for Jasper could be reduced a little, as it would be
possible to distribute either the eclipse jdt jar or the ant jar (or even
neither if using jdk1.6) , but not both.

regards
Jan
#### Environment
Operating System: All

[2009-04-15 10:47] #11 closed, assigned to glassfishrobot

[2009-04-16 17:02] #9 closed, assigned to glassfishrobot

[2009-04-16 17:11] #5 closed, assigned to glassfishrobot

[2009-04-16 17:13] #12 closed, assigned to glassfishrobot

[2009-09-16 09:32] glassfishrobot opened #13 "Support for more recent version of eclipde jdt than 3.1.1"
JDTCompiler currently depends on the eclipse java compiler 3.1.1 which was
released in September 2005.
That version of the eclipse java compiler is packaged as an eclipse plugin.
It works as a jar but it cannot be loaded in an OSGi container: its manifest
declares mandatory dependencies on various eclipse-rcp-plugins.

Starting with eclipse-3.2.0, the java compiler is provided as a new osgi bundle

[2010-02-03 09:52] #13 closed, assigned to glassfishrobot

[2010-08-24 05:42] glassfishrobot opened #15 "Parsing does not work when using resource-based schema + dtd location"
NetBeans uses the JSP engine as an embedded piece of software and it configures
the parser using:
ParserUtils.setSchemaResourcePrefix("/resources/schemas/");
ParserUtils.setDtdResourcePrefix("/resources/dtds/");

However, this does not work, schemas are not found correctly. Attaching a patch.
#### Environment
Operating System: All
Platform: Macintosh
#### Affected Versions
[current]

[2010-09-01 14:56] glassfishrobot opened #16 "The grammar for <jsp:attribute> should include "omit" attribute"
The following JSP 2.2 spec bug is reported by Mark Thomas:

I noticed that the new omit attribute defined in table JSP.5-7 is not
included in the EBNF in JSP.1.3.10.1

I assume that the correction would be changing:

AttributeBody ::= ATTR[ !name, trim ] S? ...

to

AttributeBody ::= ATTR[ !name, trim, omit ] S? ...

I would be grateful if you could confirm that this is the case and
included in th

[2010-10-13 18:38] glassfishrobot opened #17 "Tag file problem (Work in tomcat , dont work in jetty)"
hi everyone,

i'am using a tag file library that works properly in tomcat 6.0.29 but doesn't
work in jetty jetty-distribution-7.1.6.v20100715.zip

the files are below to recreate the problem!!

body.tag
[code]
<%@ attribute name="jsCode" %>
<jsp:doBody var="html"/>
<html>
<head>
//This variable is empty in jetty and not empty in tomcat
<script>
$

{jsCode}

</script>
</head>
<body>
$

{html}

</bo

[2010-11-29 17:06] #15 closed, assigned to glassfishrobot

[2011-01-10 08:34] glassfishrobot opened #18 "Add setExpressionFactory method to JspApplicationContextImpl Class"
Add setExpressionFactory method to JspApplicationContextImpl

[2011-01-10 17:22] #18 closed, assigned to glassfishrobot

[2011-05-12 11:36] glassfishrobot opened #19 "Need to change wording for arg buffer in javax.servlet.jsp.JspFactory.getPageContext()"
I think that there is a bug in either the JSP API docs for javax.servlet.jsp.JspFactory.getPageContext().

The API Docs for JspFactory.getPageContext() states this for the buffer arg.

buffer - size of buffer in bytes, PageContext.NO_BUFFER if no buffer, PageContext.DEFAULT_BUFFER if implementation default.

The above should be changed to JSPWriter.NO_BUFFER and JSPWriter.DEFAULT_BUFFER.
#### Envi

[2011-05-12 13:38] #19 closed, assigned to glassfishrobot

[2011-05-16 07:14] glassfishrobot opened #21 "Ability to make jasper use a specific compiler instead of the Jsr199JavaCompiler"
org.apache.jasper.compiler.Compiler#initJavaCompiler detects if javax.tool.Tool exists or if the jdk is >= 1.6.
In that case it uses the Jsr199JavaCompiler.
[http://java.net/projects/jsp/sources/svn/content/trunk/impl/src/main/java/org/apache/jasper/compiler/Compiler.java?rev=1383](http://java.net/projects/jsp/sources/svn/content/trunk/impl/src/main/java/org/apache/jasper/compiler/Compiler.java?re

[2011-05-23 16:49] #21 closed, assigned to glassfishrobot

[2012-08-16 13:23] glassfishrobot opened #28 "Project web page has a link to an an old URL for getting the sources"
The project web page has a link to an old URL for getting the sources. I selected Webtier->JSP from

[http://glassfish.java.net](http://glassfish.java.net)

From there, on the section "Get Involved" is a link "building". Clicking on that, got me to:

[http://jsp.java.net/build.html](http://jsp.java.net/build.html)

This is the incorrect page. Using the navigation menu on the left and chosen the "S

[2012-08-16 17:42] #28 closed, assigned to glassfishrobot

[2012-09-18 16:25] glassfishrobot opened #29 "Enable an alternate compiler implementation to be used"
It's not currently possible to specify an alternate Compiler implementation.

The origin/upstream sources of Tomcat Jasper allow for this.

This is an improvement request to integrate this possibility so that third party consumers of the org.glassfish.web.javax.servlet.jsp bundle can do the same.

[Ref] [http://svn.apache.org/repos/asf/tomcat/tc7.0.x/tags/TOMCAT_7_0_29/java/org/apache/jasper/Embed

[2012-09-18 16:33] glassfishrobot opened #30 "Make the Jsr199JavaCompiler easier to extend"
Currently the Jsr199JavaCompiler does not behave appropriately in some environments (e.g. pure OSGi framework).

The reason being that the current JavaFileManager implementations have no awareness into the runtime challenges presented by the dynamic nature of OSGi environment.

By making this class extendable, we can inject an OSGi aware JavaFileManager implementation (such as [https://github.com/

[2012-10-19 07:38] glassfishrobot opened #31 "change jsp-api bundle symbolic name"
javax.servlet.jsp is something that is expected.
javax.servlet.jsp-api is not. It suggests that there is a bundle javax.servlet.jsp-impl and that are classes inside the api bundles are in javax.servlet.jsp-api package which is not exactly true. Bundle name should match the packages, too.

[2012-10-29 18:16] #31 closed, assigned to glassfishrobot

[2012-11-21 14:08] glassfishrobot opened #33 "Improving protection for HTTP verb tampering"
During a wider discussion on the Servlet EG mailing list [1], it was observed that the JSP specification implies that containers override HttpServlet.service() for JSPs rather than the individual doXxx() methods. This creates problems when applications apply different security constraints to different HTTP verbs as JSPs will respond to any verb - potentially bypassing the security constraint.

A v

[2013-02-24 00:02] glassfishrobot opened #35 "javax.servlet.jsp-api-2.3.0 jar does not contain dtds and xsds"
The javax.servlet.jsp-api-2.3.0 jar in maven central repo released on 12 January does not contain any dtds or xsds. There does not appear to be any other jsp related jar from which to obtain them.
#### Affected Versions
[current]

[2013-04-03 18:24] #35 closed, assigned to glassfishrobot

[2014-02-21 16:37] glassfishrobot opened #39 "NullPointerException in compiled JSPs if expected EL result is of primitive type"
The same issue has already been fixed in Tomcat's Jasper:

[https://issues.apache.org/bugzilla/show_bug.cgi?id=55552](https://issues.apache.org/bugzilla/show_bug.cgi?id=55552)

[http://svnsearch.org/svnsearch/repos/ASF/search?revision=1522512](http://svnsearch.org/svnsearch/repos/ASF/search?revision=1522512)

The coercion rules changed in EL 3.0, causing a null value of expected type java.lang.Boo

[2014-02-24 22:56] #39 closed, assigned to glassfishrobot

[2014-03-14 16:58] glassfishrobot opened #40 "Add an option to raise an error for undefined EL identifiers"
An undefined EL identifier in a JSP page has a default value of "", making it difficult to debug EL expressions evaluation in s JSP page. The spec should allow an option to raise an error in this case.

The RI should also be fixed to send back a message in the response in this case. The message should include the offending EL expression and undefined identifier.

[2014-05-13 13:26] glassfishrobot opened #41 "JSP engine does not flush response when it needs to leading to illegal propagation of errors"
When a JSP page is interwoven with JSF snippets it calls PageContext.getOut().flush() to stream out the part already processed. This is supposed to make sure the response is already partially written back to the browser. This however does not seem to be done when the flush is called, and thus it causes an error to be propagated where it should not have been.

[2014-05-14 22:49] #41 closed, assigned to glassfishrobot

[2014-05-15 08:39] glassfishrobot opened #42 "Clarification required for declaration of scripting variables for actions"
There are some grey areas in the JSP specification regarding when and how scripting variables associated with actions are declared that need to be clarified.

Consider the following from JSP.9.4.4
[code]
Equivalent Text:
[code]

If <x:tag> declares an AT_BEGIN scripting variable myVar of type String then the equivalent text becomes (ignoring the required variable synchronization to make the exampl

[2014-05-16 22:03] #30 closed, assigned to glassfishrobot

[2014-05-16 22:26] #33 closed, assigned to glassfishrobot

[2014-05-16 23:22] #29 closed, assigned to glassfishrobot

[2014-06-06 13:36] glassfishrobot opened #43 "Reduce source/target from 1.7 to 1.6"
Currently the JSP impl and api are set to source/target 1.7

However, there are no functional requirement or features of the 1.7 JRE used.

The only current problem is that javax.el project is currently also compiled at 1.7 and this poses a build problem for this api/impl.

However, after experimentation, there seems to be also no cause for el to be at 1.7.

See [EL_SPEC-20](https://java.net/jira/

[2014-11-02 00:12] glassfishrobot opened #44 "Clarify interaction of ImportHandler and <%@ page imporrt"
The following question was raised in [https://issues.apache.org/bugzilla/show_bug.cgi?id=57142](https://issues.apache.org/bugzilla/show_bug.cgi?id=57142)

Should an import declared via the import page directive be visible to EL as if it had beed added via ImportHandler or should an explicit call to the ImportHandler be required?

[2014-12-02 00:45] glassfishrobot opened #45 "Function validation happens at runtime instead of translation time"
Dongbin Nie:

[2014-12-02 00:55] glassfishrobot opened #46 "Clarify spec regarding HEAD method"
Dongbin Nie:

[2016-10-31 04:46] glassfishrobot opened #53 "NullPointerException is thrown if tld file doesn't include <validator> tag."
NullPointerException is thrown if tld file doesn't include <validator> tag.

[code]

This is the patch for this problem. The same problem was modified by the following commit for Tomcat.
[https://svn.apache.org/viewvc?view=revision&revision=306188](https://svn.apache.org/viewvc?view=revision&revision=306188)

[code]
#### Affected Versions
[current]

[2016-10-31 07:36] glassfishrobot opened #54 "Failed to compile jsp files in which custom tags are nested."
Failed to compile jsp files in which custom tags are nested.

In this jsp, following custom tags are used.
1) scripting variable is defined in custom tags
2) type of the variable is not java.lang.String

[code]
[code]
[code]
[code]
[code]

This is the patch for this problem.

[code]
#### Affected Versions
[current]

[2016-10-31 08:38] glassfishrobot opened #55 "NullPointerException is thrown if application doesn't include precompiled classes"
When I send the request to jsp several times, NullPointerException is thrown if deployed application includes glassfish-web.xml and doesn't include precompiled classes.

[code]

This is the patch for the problem.

[code]
#### Affected Versions
[current]

[2016-11-01 05:56] glassfishrobot opened #56 "Class loader for precompilejsp is not released."
When I deployed a jsp application to GlassFish4.1.1, an error occurred as follows.

[code]

My ear application has a war file which has a tag file and a tld file in WEB-INF/lib jar.

ex)

[code]

In my analysis, class loader for jsp compile is not released
because ClassLoaderUtil.releaseLoader is not called.

[code]
#### Environment
Windows
#### Affected Versions
[current]

[2017-10-16 13:54] #54 closed, assigned to glassfishrobot

[2017-10-22 13:36] #53 closed, assigned to glassfishrobot

[2017-10-23 07:04] #55 closed, assigned to glassfishrobot

[2018-01-02 02:18] #56 closed, assigned to glassfishrobot

[2018-01-09 21:47] glassfishrobot opened #57 "JSP spec. needs to define a mechanism to support EL 3.0 static fields for imported classes"
EL 3.0 requires JSP to support referenced static fields for imported classes. However, this point has not been included in the JSP spec. and might need to be included. Also, the behavior is not backward compatible with previous versions of the JSP spec. and a switch may be needed to allow backward compatibility avoiding any undesirable behavior or performance differences.

The following class is h

[2018-08-17 07:46] glassfishrobot opened #58 "Place holder issue for Pull Request 58"
This is a place holder issue for Pull request from https://github.com/javaee/javaee-jsp-api/pull/58

[2018-08-17 07:46] #58 closed, assigned to nobody

[2018-08-28 11:11] m0mus opened #59 "Build CI/CD pipeline"
This task is for creating a basic build CI/CD pipeline for this project on Eclipse infrastructure. More information is here: https://ci.eclipse.org/.

[2018-08-28 11:13] m0mus opened #60 "Release pipeline and first release"
We need to create a release CI/CD pipeline for this project and release the first version from Eclipse.

Use these documents as a reference:

- [How to release the first Eclipse version of projects](https://github.com/eclipse-ee4j/ee4j/wiki/How-to-release-the-first-Eclipse-version-of-projects)
- [JSONP release job](https://github.com/eclipse-ee4j/jsonp/wiki/JSONP-release-job)

[2018-09-04 16:11] markt-asf commented on #17
This is either a bug in Tomcat or a bug in Jetty. Either way it is not a bug in the JSP spec, RI or API.

[2018-09-04 16:11] #17 closed

[2018-09-04 16:29] markt-asf commented on #43
Closing as per comment of 6 Jun 2014

[2018-09-04 16:29] #43 closed

[2018-09-19 10:54] m0mus opened #63 "Change Maven coordinates"
All current API libraries shipped must be distributed to Maven Central under a sub-package of the `jakarta` groupId. Before the first release Maven coordinates of this project must be changed as it's described [here](https://github.com/eclipse-ee4j/ee4j/wiki/New-Maven-Coordinates).

[2018-09-19 15:29] markt-asf commented on #59
We have the environment and I have created a basic job to build thew master branch but we are currently seeing errors. I have reached out on the ticket above for help.

[2018-09-19 17:58] markt-asf commented on #59
We are now building master from api/pom.xml. That has highlighted some more Javadoc issues that need fixing. I'll open a separate issue for those but this task - creating the build for master - is done.

[2018-09-19 17:58] #59 closed

[2018-09-19 17:59] markt-asf opened #64 "Fix Javadoc errors when building with Maven"
[code]
results in a bunch of Javadoc errors. These need fixing.

[2018-09-19 19:28] #63 closed

[2018-09-20 10:30] arjantijms commented on #64
Just for information, the JASPIC and JACC projects both had the same problem.

[2018-09-20 12:06] markt-asf commented on #64
Not there yet. It looks like Jenkins is building with Java 9 which finds a bunch of extra errors. I'll put in a request to get multiple Java versions configured. I think we should build with at least the spec mandated minimum (currently Java 7 for JSP) and the latest. I'll also look at a PR to fix these additional issues with new Java versions.

[2018-09-20 13:54] markt-asf commented on #60
Build is set up. No waiting on webmaster team to configure credentials, additional Java versions etc.

[2018-09-20 17:29] markt-asf commented on #64
Woot! The jdk-7 build is green:) I'll set up a separate build for jdk-latest. Still need to fix these Javadoc errors.

[2018-09-20 22:47] markt-asf commented on #64
Jenkins is now building the JSP API with Java 7 and java latest (10.0.2) without error.

[2018-09-20 22:47] #64 closed

[2018-09-28 08:29] vinayvishal commented on #60
Hi Mark,
I see you are working on release pipeline for this project. I have assigned this issue to you as well. I hope that is ok.
Best Regards,
Vinay

[2018-10-02 13:20] pjs102 opened #71 "Running with a security manager results in ClassNotFoundException for JspRuntimeLibrary$PrivilegedIntrospectHelper"
javax.servlet.jsp version 2.3.4
Running with a system security manager results in an ClassNotFound exception, as the JspRuntimeLibrary$PrivilegedIntrospectHelper class has been removed.  This occurs during the boot process when the JspServlet is initialised.  A stack trace is attached.
[stacktrace.log](https://github.com/eclipse-ee4j/jsp-api/files/2438015/stacktrace.log)

[2018-10-12 11:57] m0mus opened #72 "Release to OSSRH staging repository"
- [ ] Uptake new Eclipse versions of dependencies (if any). Use [GlassFish 5.1 Release Tracker](https://wiki.eclipse.org/Eclipse_GlassFish_5.1_Components_Release_Tracker) wiki to find components versions to use.

- [ ] Release to OSSRH staging repository

- [ ] Update [GlassFish 5.1 Release Tracker](https://wiki.eclipse.org/Eclipse_GlassFish_5.1_Components_Release_Tracker) with released version nu

[2018-10-18 11:51] markt-asf commented on #60
Release build looks to be working when tested from a non-standard branch. PR #73 has been raised to update EE4J_8 with (hopefully) the necessary changes.

[2018-10-20 09:50] markt-asf commented on #72
The EE4J_8 branch is good to go as is the release build on Jenkins. I believe (correct me if I am wrong) we need to wait for the JakartaEE EL 3.0 release and then update our dependencies before we release the JSP API.

[2018-11-02 10:57] vinayvishal commented on #72
PR #80 raised to update the dependencies to point to staged jakarta artifacts.

[2018-11-05 12:47] vinayvishal commented on #72
Published to staging repository:
https://oss.sonatype.org/content/groups/staging/jakarta/servlet/jsp/jakarta.servlet.jsp-api/2.3.4/

[2018-11-05 12:47] #72 closed

[2018-11-08 11:51] m0mus opened #82 "Start a Release Review"
Passing **Release Review** is a required step before making a first public release. Deadline for passing the review is Nov 30th, 2018. Release review takes some time to complete, so it makes sense initiating it as soon as possible.

- [x] Start Release Review
- [x] Update [Release Review Tracker](https://wiki.eclipse.org/EE4J_Projects_Release_Review_Tracker)

Additional information:

- [How to sub

[2018-11-09 16:00] m0mus opened #83 "Integrate to GlassFish"
- [ ] Integrate to Eclipse GlassFish
- [ ] Pass all CTS/TCK tests

#72 must be finished before starting working on this task.

[2018-11-14 08:54] m0mus commented on #82
Release review has been submitted by @markt-asf on 14 Nov 2018.

[2018-11-14 08:55] #82 closed

[2018-11-20 15:53] jansupol commented on #72
The API is missing in the Staging now. Can it be re-released?

[2018-11-20 17:11] markt-asf commented on #72
Sign. I see Arjan re-ran the build. I'm just creating the Jenkins jobs I need to manipulate the staging repo.

[2018-11-20 17:20] markt-asf commented on #72
And the RC is back in the staging repo.

[2018-12-03 12:08] vinayvishal commented on #83
PR raised. https://github.com/eclipse-ee4j/glassfish/pull/22649

[2018-12-07 06:32] anajosep opened #84 "TCK Signature tests fail due to generics based API changes and deprecated annotations"
The Java EE 8 signature tests failed for the following JSP related packages.
		javax.servlet.jsp.el(static mode)
		javax.servlet.jsp.el(reflection mode)
		javax.servlet.jsp(static mode)
		javax.servlet.jsp(reflection mode)
		javax.servlet.jsp.tagext(static mode)
		javax.servlet.jsp.tagext(reflection mode)

The failures seems to be caused due to the usage of Generics in API methods contained in jar

[2018-12-07 06:38] anajosep commented on #84
package : javax.servlet.jsp.tagext
Missing Methods
---------------

javax.servlet.jsp.tagext.BodyTagSupport:method public final static javax.servlet.jsp.tagext.Tag javax.servlet.jsp.tagext.TagSupport.findAncestorWithClass(javax.servlet.jsp.tagext.Tag,java.lang.Class)
javax.servlet.jsp.tagext.TagSupport:    method public final static javax.servlet.jsp.tagext.Tag javax.servlet.jsp.tagext.TagSupport.

[2018-12-08 11:38] ggam commented on #84
#85 should fix this. You reference some `javax.faces` classes which can't be found on this repository. I guess they are on the JSF repository, no?

[2018-12-08 11:41] anajosep commented on #84
yes. javax.faces.webapp package is in mojarra project and I have filed a separate bug for that.
https://github.com/eclipse-ee4j/mojarra/issues/4523

[2018-12-15 10:19] ChrisTTPSC opened #87 "Java 11 Compatibility check: jsp-api"
Hi,
Could you help me by answering the following questions about jsp-api library:

Is the library compatible with Java 11 ? (Y/N)
Is the library supported with Java 11? (Y/N)
(If “N” in compatibility or support) What is the version that would be compatible and Supported?
Date of support availability?
Thanks

[2019-01-07 10:50] m0mus commented on #84
Last CTS run doesn't have these errors. Closing the bug.

[2019-01-07 11:24] anajosep commented on #84
In the latest CTS run, the signature test validation failed for javax.servlet.jsp.el package both in static and reflective mode and passed for other packages. The new failure does not seem to be due to Generics but instead due to an added annotation.

Check below logs for more info
-----------------------------
01-06-2019 17:28:07:  SVR: ********** BEGIN VALIDATE PACKAGE 'javax.servlet.jsp.el' ***

[2019-01-09 21:54] m0mus commented on #84
The signature tests are the source of truth. I would recommend removing deprecated annotations from EE4J branch, but keep it in master.

[2019-01-10 00:54] bshannon commented on #84
If the @Deprecated annotation wasn't in the approved spec, that's an incorrect implementation
of the spec even if it's a source and binary compatible change for applications.

[2019-01-10 07:37] markt-asf commented on #84
The Javadoc @deprecated was present but the method annotation @Deprecated was not. Given the (lack of) side effects, It is essentially a documentation fix.

[2019-01-10 07:41] bshannon commented on #84
You have to remove the annotation or the signature tests will fail.

[2019-01-10 15:01] Tomas-Kraus commented on #84
PR https://github.com/eclipse-ee4j/jsp-api/pull/88 should fix this.

[2019-01-10 16:53] m0mus commented on #84
Re-staged

[2019-01-10 21:31] bshannon opened #89 "implementation artifact should be jakarta.servlet.jsp"
The implementation artifact currently uses an artifactId of javax.servlet.jsp.
It should be changed to use an artifactId of jakarta.servlet.jsp.

[2019-01-10 22:31] arjantijms commented on #89
@bshannon This came up multiple times, but it was argued back then that JSP (and JACC) depends on Servlet 3, which doesn't exist in Jakarta (only Servlet 4 exists).

[2019-01-10 23:00] bshannon commented on #89
I don't see how that dependency determines the name of the implementation artifact.

And I don't see any reason the implementation artifact couldn't depend on Servlet 4.

[2019-01-11 07:45] markt-asf commented on #89
Effort to date has been concentrated on the API. Looking at the history the only change to the implementation after the initial import was some Javadoc clean-up (from me) that appears to have caught up some implementation classes in a global search and replace that was intended solely for the API (no harm done - just not the original intention).

Based on what was required to get the API into a re

[2019-01-11 20:59] bshannon commented on #89
If someone wants to do the work to split the API and implementation into separate projects, that's fine.

I don't see any reason that a JSP implementation couldn't choose to depend on a later version of the Servlet API.
Whether that's a good idea is a different question.  If this JSP implementation is used by other products
that only support Servlet 3, then upgrading the dependency may not be a go

[2019-01-11 22:36] arjantijms commented on #89
I've been slightly worrying about this tbh, as many full products (specifically GlassFish and Payara) would have dependencies on both the javax version and the jakarta version, which in OSGi may potentially cause issues regarding the module names or lead to strange issues where the same classes from Servlet are seen as different ones.

With a bit of luck this doesn't happen, but still...

[2019-01-14 14:14] m0mus opened #90 "Public Release"
Last CTS runs indicate no failures in this component. It's time to make a public release. Before the release make sure that Eclipse Release Review is passed and all dependencies have been released.

[2019-01-14 14:31] arjantijms commented on #90
@markt-asf it's the "jsp-staging-to-release" job

[2019-01-14 14:33] markt-asf commented on #90
@arjantijms You beat me to it. Just need to wait for it to appear in Maven Central.

[2019-01-14 14:36] m0mus commented on #90
It cool to see a lot of activity on this task. Removing myself from assignees. :)

[2019-01-14 14:37] arjantijms commented on #90
@markt-asf we worked together, as you did the dependency check which saved me from doing it ;) Thx!

[2019-01-14 18:17] arjantijms commented on #90
JSP-API landed in central: https://repo1.maven.org/maven2/jakarta/servlet/jsp/jakarta.servlet.jsp-api/2.3.4/

[2019-01-14 18:17] #90 closed

[2019-03-19 20:08] bpcrao commented on #87
I am not contributor but I dont think is compatible

[2019-03-19 20:10] bpcrao opened #93 "TLDSCanner is not loading system TLDs in Java 11.0.1"
The system tlds are skipped in few scenarios
the only option is the class loader has to be URLClassLoader which is not the case is Java 11 and hence fails

https://stackoverflow.com/questions/55031222/java-11-tldscanner-not-loading-system-tlds

[2019-03-22 14:02] markt-asf commented on #87
The jsp-api library is compatible with Java 11 (and 12).
The jsp-api library is supported with Java 11 (and 12). It is supported in the sense that if something doesn't work and you open a bug it won't get immediately rejected because you are using Java 11 (or 12).

Note that this only applies to the jsp-api library. There are multiple implementations of the JSP API and the answers to the above que

[2019-03-22 14:02] #87 closed

[2019-04-04 11:21] ivargrimstad opened #94 "Update Scope Statement for Jakarta Server Pages Project"
Update the scope statement for the project: https://projects.eclipse.org/projects/ee4j.jakartaee-platform/governance

See https://docs.google.com/spreadsheets/d/1FPLjo_DJDOQngVtdrYgaDk98d9NBG-0ODgdmOG3LOsI/edit?usp=sharing for examples.

[2019-04-05 08:38] ivargrimstad opened #95 "Change project name to Jakarta Server Pages"
Background information:
https://waynebeaton.wordpress.com/2019/04/04/renaming-java-ee-specifications-for-jakarta-ee/

Checklist:
- [x]  GitHub
- [x]  README file
- [x]  CONTRIBUTING file
- [x]  Eclipse Project under https://projects.eclipse.org/projects/ee4j

[2019-04-25 05:54] micRo-wlY opened #97 "IOException ("Stream closed") has occurred when accessing two different apps at the same time"
I'v opened an issue on https://github.com/eclipse-ee4j/glassfish/issues/22552
After discussion and investigation, I modified the code.
But I found that TldScanner belongs to the eclipse-ee4j/jsp-api project.
So I opened an issue here.
I have posted a pull request for my corrected code #96 , can someone help to review and
Approve it.
Thanks very much.

[2019-04-26 07:32] ivargrimstad commented on #95
"Jakarta Server Pages". Objections anyone?

[2019-05-05 08:45] chkal commented on #94
Draft:

This is based on the wording of the original [project proposal](https://projects.eclipse.org/projects/ee4j.jsp/reviews/creation-review).

[2019-05-25 08:30] chkal commented on #94
It would be great to get some feedback by the committers of the project...

[2019-05-25 11:47] arjantijms commented on #94
Maybe the scope should say something about JSP being a templating language, essentially.

JSF for instance also generates web pages based on HTML, XML, or other document types, but it clearly something completely different.

[2019-05-25 11:59] arjantijms commented on #94
What something along these lines?

[2019-05-28 14:45] m0mus opened #98 "Jakarta EE 8 TCK job"
To test Jakarta EE 8 compatibility we need to create a Jenkins job on project's Cloud Jenkins instance formally testing the API against the relevant TCK and as needed, relevant CTS subset tests.

For projects that do not already have automated testing, there is provided parameterized Jenkins job that can be invoked to perform these tests. User provides a link to an Eclipse GlassFish test build and

[2019-05-28 15:10] markt-asf commented on #94
+1

[2019-05-28 20:47] waynebeaton commented on #94
Let's focus on the specification itself (and skip the project for now).

Is the Servlet angle integral to the project? Is it important that all of this gets compiled into a Servlet, or is that just an implementation detail? i.e. does the specification itself require that everything gets compiled into a Servlet?

[2019-05-28 20:54] markt-asf commented on #94
Yes.
`public interface JspPage extends Servlet { ...`

[2019-05-28 21:01] arjantijms commented on #94
The JSP specification states this as well. See:

[2019-06-13 02:37] waynebeaton commented on #94
So... do you want to go with this?

[2019-06-13 02:38] waynebeaton opened #99 "Convert "Eclipse Project for JSP" into a specification project"
In order to prepare this project to engage in specification work, we need to convert it into a specification project as defined by the Eclipse Foundation Specification Process (EFSP). As part of this work, we will change the project name and the scope.

We'll use this issue to capture the work that needs to be done as part of this effort.

- [x] Resolve #95
- [x] Resolve #94
- [x] Successful compl

[2019-06-13 07:37] markt-asf commented on #94
+1

[2019-06-17 13:54] waynebeaton commented on #94
I believe that we have consensus on:

I'll take that to the Specification Committee for approval.

[2019-06-17 13:54] #94 closed

[2019-06-25 02:10] waynebeaton commented on #99
I've declared this review successful. Next steps will be provided by the PMC.

[2019-06-25 02:10] #99 closed

[2019-07-03 19:09] waynebeaton opened #100 "Prepare Debugging Support for Other Languages for Jakarta EE 8 Release"
### Instructions

- [x] Update text files
- [x] Generate "boilerplate" specification project
- [x] Make a staging release
- [x] Generate Stand-alone TCK test results
- [x] Create a PR to jakartaee/specifications repository

See [here](https://wiki.eclipse.org/How_to_Prepare_API_Projects_to_Jakarta_EE_8_Release) for detailed instructions.

[2019-07-13 17:05] edbratt opened #109 "Prepare Jakarta Server Pages for Jakarta EE 8 Release"
### Instructions

- [x] Update text files
- [x] Generate "boilerplate" specification project
- [x] Make a staging release
- [x] Generate Stand-alone TCK test results
- [x] Create a PR to jakartaee/specifications repository
- [x] Update the Jakarta EE API jar by submitting a PR to the [jakartaee-api](https://github.com/eclipse-ee4j/jakartaee-api) project

See [here](https://wiki.eclipse.org/How_to_

[2019-07-13 17:18] edbratt commented on #100
* javadoc and text updated - yes
* specification generated(https://github.com/eclipse-ee4j/jstl-api/tree/master/spec) - yes
(Note: No API JAR to release. Staging Release is n/a.

[2019-07-15 19:15] #95 closed

[2019-07-18 06:56] senivam commented on #98
***TCK standalone jobs for JSP-API***

prepare glassfish (integrate JSP): [TCK_build_glassfish](https://jenkins.eclipse.org/jsp/job/TCK_build_glassfish/)
prepare ts.jte config file (for JSP specific settings): [TCK_ts_jte_alter](https://jenkins.eclipse.org/jsp/job/TCK_ts_jte_alter/)
run TCK after previous jobs are done: [TCK_JSP_Bash](https://jenkins.eclipse.org/jsp/job/TCK_JSP_Bash/)

[2019-07-18 10:42] senivam commented on #109
TCK report for JSP-API: [[summary.txt](https://jenkins.eclipse.org/jsp/job/TCK_JSP_Bash/lastSuccessfulBuild/artifact/jsptck/src/com/sun/ts/tests/jsp/SUMMARY.TXT)]

[2019-07-18 13:00] senivam commented on #109
JSP-API staging reference: [[2.3.6](https://oss.sonatype.org/content/groups/staging/jakarta/servlet/jsp/jakarta.servlet.jsp-api/2.3.6/)]

[2019-07-20 21:34] arjantijms commented on #109
TCK report for Jakarta Server Pages against staged build: [summary.txt](https://jenkins.eclipse.org/jsp/view/Release/job/2_jsp-run-tck-against-staged-build/lastSuccessfulBuild/artifact/jsptck/bin/summary.txt/*view*/)

[2019-07-22 10:39] m0mus commented on #100
https://github.com/jakartaee/specifications/pull/24

[2019-07-22 10:39] #100 closed

[2019-07-24 13:13] #98 closed

[2019-07-25 12:37] m0mus opened #112 "Update Eclipse GlassFish"
Update Eclipse GlassFish to use the new version of your API (and implementation, if applicable) by submitting a PR to [GlassFish](https://github.com/eclipse-ee4j/glassfish).

Although a new version of GlassFish will not be released for Jakarta EE 8, we hope to release an update sometime later.

[2019-07-30 05:11] ren-zhijun-oracle opened #113 "Compatibility certification request for EE4J implementation of Jakarta Debugging Support for Other Languages"
- [x] Organization Name ("Organization") and, if applicable, URL
Eclipse Foundation
- [x] Product Name, Version and download URL (if applicable)
EE4J implementation of Jakarta Debugging Support for Other Languages, 1.0
- [x] Specification Name, Version and download URL
Jakarta Debugging Support for Other Languages 1.0
- [x] TCK Version, digital SHA-256 fingerprint and download URL
[Jakarta Debuggi

[2019-07-30 10:36] m0mus commented on #109
@ren-zhijun-oracle What's the status of submitting a PR to jakartaee/specifications repository?

[2019-07-30 22:00] ren-zhijun-oracle commented on #109
@m0mus I have not do it yet, I thought your team will take care of it, if not, I can do it today.

[2019-08-05 05:50] senivam commented on #98
TCK CA Summary: [summary.txt](https://jenkins.eclipse.org/ca/job/TCK_CA_run/lastSuccessfulBuild/artifact/SUMMARY.TXT)

[2019-08-06 14:11] lukasj commented on #109
@edbratt I don't have permissions to check jakartaee/specifications, the PR is: https://github.com/jakartaee/specifications/pull/77

[2019-08-06 14:15] m0mus commented on #109
@lukasj What do you mean? You don't need special permissions to submit a PR.

[2019-08-06 14:28] lukasj opened #115 "Compatibility certification request for EE4J implementation of Jakarta Server Pages"
- [x] Organization Name ("Organization") and, if applicable, URL\
  Eclipse Foundation
- [x] Product Name, Version and download URL (if applicable)\
  [GlassFish 5.1](https://www.eclipse.org/downloads/download.php?file=/glassfish/glassfish-5.1.0.zip)
- [x] Specification Name, Version and download URL\
   [Jakarta Server Pages 2.3](https://jakarta.ee/specifications/pages/2.3/)
- [x] TCK Version, di

[2019-08-06 14:41] lukasj commented on #109
and PR for the API project: https://github.com/eclipse-ee4j/jakartaee-api/pull/28

@m0mus I don't have permissions to check checkboxes next to the "Create a PR to jakartaee/specifications repository" and "Update the Jakarta EE API jar by submitting a PR to the jakartaee-api project" in the description of this issue

[2019-08-06 14:55] #109 closed

[2019-08-13 01:23] starksm64 commented on #113
TCK summary results link is broken

[2019-08-29 16:41] scottmarlow opened #118 "certification question..."
Which commit on the 2.3.6 branch was used for Jakarta EE 8 certification testing?

The signature on [TagSupport.java#findAncestorWithClass(Tag from, Class<?> klass)](https://github.com/eclipse-ee4j/jsp-api/blob/2.3.6/api/src/main/java/javax/servlet/jsp/tagext/TagSupport.java#L66) may be wrong, as I'm seeing the following locally, perhaps I need to update my Jakarta TCK to latest but wanted to ment

[2019-08-29 18:03] scottmarlow commented on #118
Repasting with more relevant signature test failures.  Question is still which commit on the 2.3.6 branch was used for Jakarta EE 8 certification testing?

The signature on [TagSupport.java#findAncestorWithClass(Tag from, Class<?> klass) ](https://github.com/eclipse-ee4j/jsp-api/blob/2.3.6/api/src/main/java/javax/servlet/jsp/tagext/TagSupport.java#L66) may be wrong, as I'm seeing the following loc

[2019-08-29 18:57] tomjenkinson commented on #118
@lukasj FYI

[2019-08-29 19:02] tomjenkinson commented on #118
@scottmarlow the certification request is over here https://github.com/eclipse-ee4j/jsp-api/issues/115 but stock glassfish 5.1.0 will have been used for that request so 2.3.5 (https://github.com/eclipse-ee4j/glassfish/blob/5.1.0/appserver/pom.xml#L43). There is an expectation that the version here https://github.com/jakartaee/specifications/pull/77/files#diff-54a291844ecfc2afea1c0bd44041b59dR16 (2

[2019-08-29 19:45] scottmarlow commented on #118
I mentioned this on jakartaee-platform-dev@eclipse.org as well.

[2019-08-29 20:29] lukasj commented on #118
TCK used to test the change #114 before merging it apparently did not include sigtests even though expectation was that they were included and run.

[2019-08-29 20:34] lukasj commented on #118
btw: just noticed there was a heads-up within https://www.eclipse.org/lists/jakartaee-spec-project-leads/msg00243.html ... sorry, I did not expect jsp specific request to be raised under XML-RPC TCK subject, my bad :-/

[2019-08-30 00:42] scottmarlow commented on #118
From the pasted error message from tck signature tests, I think that the needed change is:
1.  Remove each @Deprecated annotation mentioned in "Added Annotations":
javax.servlet.jsp.el.ELException: anno 0 java.lang.Deprecated()
 --- affected javax.servlet.jsp.el.ELParseException
javax.servlet.jsp.el.Expression: anno 0 java.lang.Deprecated()
javax.servlet.jsp.el.ExpressionEvaluator: anno 0 java.lan

[2019-08-30 01:07] scottmarlow commented on #118
I didn't run the tck signature against [the above pull request](https://github.com/eclipse-ee4j/jsp-api/pull/120) but I think that will help (as long as we don't miss any information encrypted into the signature test failure messages that I pasted).

[2019-08-30 01:24] scottmarlow commented on #118
Also created a[ pr (cherry-picked master branch change) for 2.3.6 branch.](https://github.com/eclipse-ee4j/jsp-api/pull/121)

[2019-08-30 09:23] scottmarlow commented on #118
In case it helps, there is a possible fix via
https://github.com/eclipse-ee4j/jsp-api/pull/120 for master.

I did one for the release branch also but the robot closed it.

Scott

-- sent from my moto phone

On Thu, Aug 29, 2019, 4:34 PM Lukas Jungmann <notifications@github.com>
wrote:

[2019-09-05 18:54] edbratt commented on #113
Results summary link seems fixed. This looks good to me. Ok to accept and close?

[2019-09-06 12:14] m0mus commented on #113
Accepted by Lazy Consensus.

[2019-09-06 12:14] #113 closed

[2019-09-10 22:17] bshannon commented on #115
I'm declaring this approved by lazy consensus.

[2019-09-10 22:17] #115 closed

[2019-11-12 16:28] rmartinc commented on #57
Hi,

I have sent the PR: https://github.com/eclipse-ee4j/jsp-api/pull/126

It's just a map to speed up class resolution. As I commented in the PR we have already experienced performance complaints if a cache map is not used. For the moment, it's very very simple, if you want something more complicated just let me know in the PR.

Thanks!

[2020-01-14 14:45] kwsutter opened #129 "Deliver jsp-api Specification Version update for Jakarta EE 9"
**Is your feature request related to a problem? Please describe.**
Jakarta EE 9 is the next major release, with the main focus of moving from the ```javax``` namespace to the ```jakarta``` namespace.

**Describe the solution you'd like**
This issue will be used to track the progress of this work effort via the [Jakarta EE 9 Project board](https://github.com/orgs/eclipse-ee4j/projects/17).

**Addit

[2020-01-14 14:47] kwsutter opened #130 "Deliver debugging Specification Version update for Jakarta EE 9"
**Is your feature request related to a problem? Please describe.**
Jakarta EE 9 is the next major release, with the main focus of moving from the ```javax``` namespace to the ```jakarta``` namespace.

**Describe the solution you'd like**
This issue will be used to track the progress of this work effort via the [Jakarta EE 9 Project board](https://github.com/orgs/eclipse-ee4j/projects/17).

**Addit

[2020-01-27 02:59] pnicolucci opened #131 "Update Java source/target in pom.xml to 1.8"
1) api/pom.xml
2) impl/pom.xml
3) parent-pom/pom.xml

This should align us with: https://eclipse-ee4j.github.io/jakartaee-platform/jakartaee9/JakartaEE9ReleasePlan

[2020-01-27 10:45] #131 closed

[2020-02-05 00:36] pnicolucci commented on #129
Release Record for 3.0.0 can be found here: https://projects.eclipse.org/projects/ee4j.jsp/releases/3.0.0

[2020-02-12 21:06] kwsutter commented on #130
Release Record:  https://projects.eclipse.org/projects/ee4j.jsp/releases/2.0-debugging-support-other-languages/plan

[2020-02-13 06:33] mbroz2 commented on #129
Taking a look at this one.

[2020-02-17 19:46] kwsutter commented on #130
The original spec for DSOL in asciidoc format is being done with PR #141.  Some work will be required to make this consumable.

[2020-02-18 22:12] manorrock opened #142 "Missing 2.3.6 implementation JAR"
It looks like the 2.3.6 implementation JAR never made it to Maven Central

[2020-02-18 22:18] arjantijms commented on #142
After a quick investigation:

[code]

[2020-02-18 22:18] arjantijms commented on #142
cc @m0mus

[2020-02-18 22:27] m0mus commented on #142
I see that 2.3.5 is integrated to GlassFish:

[code]

Version 2.3.5 is also mentioned here:
https://wiki.eclipse.org/Eclipse_GlassFish_5.1_Components_Release_Tracker

If 2.3.6 implementation is not released we should ask the project team to release it.
@markt-asf ^^^

[2020-02-18 22:34] arjantijms commented on #142
2.3.5 was the last version under Java EE 8 in GlassFish 5.1.

2.3.6 is released under Jakarta EE 8, and not integrated in any official GlassFish release, but that shouldn't have prevented the impl part from being released I guess.

[2020-02-18 23:08] markt-asf commented on #142
My focus at Jakarta EE is on specs, APIs and TCKs; not implementations. If someone wants to make a 2.3.6 implementation release I am not going to get in their way but it isn't something I have the time to do.

[2020-02-19 14:50] kwsutter commented on #130
Can I request someone on this project to create a new label called "noAPI" and assign it to this Issue?  I need an easy way to identify the projects that will not be producing a Milestone/RC driver for the API.  Thank you!

[2020-02-19 14:56] manorrock commented on #142
@m0mus @markt-asf @arjantijms @pzygielo @Cousjava @kwsutter So who is going to do the release? Because as it stands right now the JSP implementation publicly available is NOT TCK compliant!

[2020-02-19 14:56] manorrock commented on #142
@m0mus @markt-asf @arjantijms @pzygielo @Cousjava @kwsutter So who is going to do the release? Because as it stands right now the JSP implementation publicly available is NOT TCK compliant!

[2020-02-19 14:57] pnicolucci commented on #130
@kwsutter  add the `noAPI` label.

[2020-02-20 21:26] manorrock commented on #142
@edbratt @ren-zhijun-oracle As Mark is saying he does not have time for a release can we get a release done by Zhijun as he is also listed as project lead?

[2020-02-20 21:59] m0mus commented on #142
@edbratt I think he is not in Oracle anymore. I'll ask some of my folks to do it.

[2020-02-21 11:43] Tomas-Kraus commented on #142
well, there is 2.3.6-RELEASE tag. I can restore all artifacts and send them to maven central

[2020-02-21 12:12] m0mus commented on #142
Please make sure that it's buildable and tests are passing.

[2020-02-21 13:19] Tomas-Kraus commented on #142
I need https://github.com/eclipse-ee4j/jsp-api/pull/143 to be merged first because of EF/OSSRH infrastructure changes

[2020-02-22 13:56] arjantijms commented on #142
@Tomas-Kraus I merged #143 for the 2.3.6 branch. Thx!

[2020-02-24 12:26] Tomas-Kraus commented on #142
Unfortunately I missed that API project depends on ee4j parent too. Need to merge PR https://github.com/eclipse-ee4j/jsp-api/pull/144

[2020-02-24 14:20] Tomas-Kraus commented on #142
I was finally able to stage API artifacts: https://ci.eclipse.org/jsp/job/jsp-api-stage/4/consoleFull
We have jakartaservletjsp-1002 in staging repo.

[2020-02-24 14:36] markt-asf commented on #142
API? I thought the issue was that there was no 2.3.6 implementation?

[2020-02-24 15:15] arjantijms commented on #142
@Tomas-Kraus @markt-asf Indeed, we need the implementation. That's the one missing.

[2020-02-24 15:51] Tomas-Kraus commented on #142
Yes, got it too. Prepared https://ci.eclipse.org/jsp/job/jsp-impl-stage/ job to do it.
Unfortunately parent pom is wrong again. Fixed by PR https://github.com/eclipse-ee4j/jsp-api/pull/145

[2020-02-24 16:03] Tomas-Kraus commented on #142
Here it is: PR https://github.com/eclipse-ee4j/jsp-api/pull/146

[2020-02-24 16:32] Tomas-Kraus commented on #142
So even artifact id change to match 3.0.0 did not help. Have to file a bug to OSSRH.

I restored original 2.3.6-RELEASE tag which points to revision that was used to release 2.3.6 API.
Now we have to wait for Sonatype to fix deployment permissions.

[2020-02-25 10:28] Tomas-Kraus commented on #142
Passing link to OSSRH issue: https://issues.sonatype.org/browse/OSSRH-55370

[2020-02-25 10:35] Tomas-Kraus commented on #142
So while waiting for Sonatype, I need to resolve another problem: TCK tests. https://ci.eclipse.org/jsp/job/2_jsp-run-tck-against-staged-build/ job works for API, but does not replace impl module in GF. I'll modify it to replace both artifacts (jakarta.servlet.jsp-api.jar and jakarta.servlet.jsp.jar).

[2020-02-25 17:46] Tomas-Kraus commented on #142
OSSRH issue is resolved, IMPL 2.3.6 is in staging. So running TCK tests now.

[2020-02-25 17:59] Tomas-Kraus commented on #142
Unfortunately TCK tests are failing during test initialization when being deployed to GF:
https://ci.eclipse.org/jsp/job/2_jsp-run-tck-against-staged-build/22/console

[2020-03-03 12:54] Tomas-Kraus commented on #142
Problem with GF deployment of TCK tests resolved in https://github.com/eclipse-ee4j/jsp-api/pull/147

[2020-03-03 14:20] Tomas-Kraus commented on #142
TCK tests passed: https://ci.eclipse.org/jsp/job/2_jsp-run-tck-against-staged-build/27/

[2020-03-03 14:29] Tomas-Kraus commented on #142
IMPL 2.3.6 released: https://ci.eclipse.org/jsp/job/3_jsp-api-staging-to-release/4/console

[2020-03-07 21:31] arjantijms commented on #142
Since impl is released, closing issue. Thx @Tomas-Kraus!

[2020-03-07 21:31] #142 closed

[2020-04-05 21:39] smillidge opened #152 "Release of 3.0.0-M1 Implementation Needed"
For further development of GlassFish 6.0.0 we need at least a milestone release of the 3..0.0-M1 implementation. The API is released to maven central but there is not release of the implementation.

[2020-04-06 14:11] markt-asf commented on #152
The package rename has been completed (well, there don't appear to be any errors in my IDE) but I am not sure what state the implementation is overall. I have limited time so I am focusing my time on the parts that matter to me - the API, the specification document and the TCK.
@arjantijms indicated a desire to move this forward. There haven't been any commits since. I don't know if that is becaus

[2020-04-06 14:17] arjantijms commented on #152
Last two weeks have been utterly mental, so it's purely a lack of time issue. I'll look at this one soon though.

[2020-04-06 14:28] smillidge commented on #152
Jakarta EE 9 can't be released without GlassFish and I'm blocked on this currently. I can do a PR if a PR is needed but I can't merge or run Jenkins jobs.

[2020-04-06 16:04] markt-asf commented on #152
Sorry, got my EL and JSP folders mixed up. Unlike the EL implementation, Tomcat's Jakarta EE 9 JSP implementation is unlikely to be a drop in replacement for Glassfish.

[2020-04-06 16:06] markt-asf commented on #152
Also, the package rename hasn't been completed for the JSP impl. If someone wants to put together a PR for that I'm willing to approve/commit it providing it passes a basic sanity check.

[2020-04-06 17:17] joakime commented on #152
I opened PR #153 to attempt this change to the codebase.

AFAICT, `/api/` was already converted.
Only the `/impl/` tree needed work.

[2020-04-09 13:58] joakime commented on #152
The master branch now has the `javax.*` -> `jakarta.*` namespace change present (from PR#153)

[2020-04-09 14:35] smillidge commented on #152
Thanks it needs someone on the project now to poke Jenkins to get a release

[2020-04-10 14:38] arjantijms commented on #152
As the requirements for Jakarta EE 9 are JDK 11 for the implementations, shall I set the minimal JDK version to 11?

And pros/cons?

[2020-04-10 14:40] arjantijms commented on #152
(btw, the project currently doesn't compile using JDK 11 at all, so that should be fixed at least)

[2020-04-10 14:52] joakime commented on #152
Why are the other projects doing bytecode at Java 8 for Jakarta EE 9 then?

[2020-04-10 15:00] markt-asf commented on #152
Please see the [Jakarta EE 9 release plan](https://eclipse-ee4j.github.io/jakartaee-platform/jakartaee9/JakartaEE9ReleasePlan). TL;DR - Java 8 is the minimum version for API projects.

[2020-04-10 15:02] markt-asf commented on #152
While the implementations need to run on Java 11 to certify so they could switch to Java 11, I'd leave the minimum Java version for this impl as Java 8. I'm curious why it doesn't compile with Java 11 though.

[2020-04-10 15:18] joakime commented on #152
I'll take a look at the java 11 compile issue.

[2020-04-10 15:22] arjantijms commented on #152
@joakime I'm already looking at it, it's just Javadoc

[2020-04-10 15:23] arjantijms commented on #152
[code]

[2020-04-10 15:24] arjantijms commented on #152
I'll also update the plug-ins to their latest versions, as older plug-ins tend to have more issues with  the newer JDKs

[2020-04-10 15:25] joakime commented on #152
I defer to you.
Yep, the javadoc rules are much more strict on Java 9+
Had about 80% of the codebase to update javadoc on Eclipse Jetty a few years ago when Java 9 first hit.

Just use ...

[code]

That should address those tags nicely.

[2020-04-10 15:31] arjantijms commented on #152
@joakime thanks! In the meanwhile if you could take a look at this PR that would be great:

https://github.com/eclipse-ee4j/jsp-api/pull/154

(there's on more coming for the update versions and then one for the javadoc fixes, and if nobody minds code formatting to standard Jakarta rules)

[2020-04-12 15:09] arjantijms commented on #152
@smillidge

Jenkins poked: https://repo1.maven.org/maven2/org/glassfish/web/jakarta.servlet.jsp/3.0.0-RC1 ;)

[2020-04-12 15:09] #152 closed

[2020-05-05 21:46] kwsutter opened #157 "Update CONTRIBUTING.md for Specification Project's repositories"
**Create/Update CONTRIBUTING files**

Per input from the Eclipse EMO, each Specification Project needs to ensure that a CONTRIBUTING.md or CONTRIBUTING.adoc file exists in each specification-related repository maintained by Specification Projects.
In addition, the CONTRIBUTING.md or CONTRIBUTING.adoc file needs to include the following text:

[code]

Please do this at your earliest convenience.
Th

[2020-05-05 22:43] arjantijms commented on #157
Done via https://github.com/eclipse-ee4j/jsp-api/commit/c4088cc1cd0463d71f08d5165723f1551f139350

[2020-05-05 22:43] #157 closed

[2020-05-14 16:28] kwsutter opened #159 "Update EFSL for Specifications and Javadoc"
Per the discussions on the Spec Committee and Platform Dev mailing lists, it's been discovered that many of the Javadoc and Spec references to the EFSL need updating. Please reference the following required updates and keep them in mind as your Spec Project is updating the files for Jakarta EE 9.

Note: Some Spec Projects have already started or even completed these updates. If so, just kindly ret

[2020-05-15 18:52] markt-asf commented on #118
This has been addressed

[2020-05-15 18:52] #118 closed

[2020-05-15 18:54] markt-asf commented on #112
Jakarta EE 8 has been and gone.

[2020-05-15 18:54] #112 closed

[2020-05-17 18:35] #159 closed

[2020-05-22 10:01] #71 closed

[2020-05-29 13:48] kwsutter commented on #129
Since the javax -> jakarta spec checklist item was checked off, I'm also assuming that the overall spec has completed it's initial "jakarta-izing".  So, I'm marking that checklist item as well.  Thanks!

[2020-06-05 13:55] markt-asf commented on #57
In the 6 (or 7 depending on how you count it) years EL 3.0 implementations have been available I have never seen the backwards compatibility issue raised by a user. I think we are at the point where we can consider that an issue that does not need to be addressed in JSP 3.0.

The performance issues have been raised on multiple occasions. I do think they are worthy of a note to container developers

[2020-06-05 15:45] #46 closed

[2020-06-05 15:45] #45 closed

[2020-06-05 16:18] markt-asf commented on #40
This will need to wait for Jakarta EE 10.

[2020-06-09 14:35] #16 closed

[2020-06-11 21:27] kwsutter commented on #130
One last request for the Specifications PR to promote the Milestone deliverables for this Project.  The PR is created against the [Jakarta EE specifications github repo](https://github.com/jakartaee/specifications/pulls).  A template is automatically used when creating PRs against this repo which should help with understanding the steps required for a successful merge.  We're not looking for perfe

[2020-06-11 21:30] kwsutter commented on #129
One last request for the Specifications PR to promote the Milestone deliverables for this Project.  The PR is created against the [Jakarta EE specifications github repo](https://github.com/jakartaee/specifications/pulls).  A template is automatically used when creating PRs against this repo which should help with understanding the steps required for a successful merge.  We're not looking for perfe

[2020-06-12 19:06] markt-asf commented on #129
Almost ready. I'd really like to get https://github.com/eclipse-ee4j/jsp-api/pull/169 committed first and produce an RC. However, it time doesn't permit I should be able to do something with the M1 release.

[2020-06-12 19:06] markt-asf commented on #130
Almost ready. I'd really like to get https://github.com/eclipse-ee4j/jsp-api/pull/169 committed first and produce an RC. However, it time doesn't permit I should be able to do something with the M1 release.

[2020-06-13 18:42] markt-asf commented on #129
https://github.com/jakartaee/specifications/pull/214
https://github.com/jakartaee/specifications/pull/215

[2020-06-13 18:43] markt-asf commented on #130
https://github.com/jakartaee/specifications/pull/213

[2020-06-16 16:43] markt-asf commented on #57
Resolving this as a duplicate of #44. I think the proposed solution there (new resolvers) is much cleaner. I'll add a note about needing to clean up the ScopedAttributeELResolver.

[2020-06-16 16:43] #57 closed

[2020-06-16 16:44] markt-asf commented on #44
Note that the ScopedAttributeELResolver in the API will need some clean-up if this approach is followed. If this approach (new resolvers) isn't followed then it is likely ScopedAttributeELResolver will need to be updated in light of the chosen solution.

[2020-07-23 22:14] kwsutter commented on #129
Looking for an update on the status of the JSP Final Specification PR.  If we're going to make the [Sept deliverable goal](https://eclipse-ee4j.github.io/jakartaee-platform/jakartaee9/JakartaEE9#jakarta-ee-9-schedule), then this Wave 2 Specification needs to be ready for final ballot by Monday, July 26.  Which means that the Specification PRs should already be created and under a "mentorship" revi

[2020-07-27 08:48] markt-asf commented on #129
The JARs should be available on staging. Just need to prepare PRs. I might be able to get to this later today unless someone beats me to it.

[2020-07-27 12:21] markt-asf commented on #129
Sorry, I'm not going to be able to do this. Something isn't quite right with the staging / CI process. I previously added explicit staging profile IDs to get around issues with the wrong profile ID being used during CI (I think it was picking up the servlet staging profile rather than the JSP one). Someone who knows Maven and the Jakarta EE CI process better than me is probably best placed to fix

[2020-07-27 12:38] joakime commented on #129
I can help once the internet/power is stable here in south texas (hurricane hannah just passed through).

[2020-08-11 16:22] kwsutter commented on #129
The JSP PR was just discussed on the Platform Call...  Any updates on starting the final PRs for JSP?  Thanks!

[2020-08-11 16:48] joakime commented on #129
Yes. I can start to look at it in about 3-ish hours.

[2020-08-11 19:46] joakime commented on #129
The jsp-api 3.0.0 was staged to jakarta.oss.sonatype.org (repository ID `orgglassfishweb-1002`) back on July 23rd by @markt-asf

The Job: https://ci.eclipse.org/jsp/job/1_jsp-api-build-and-stage/58/consoleFull

The `orgglassfishweb-1002` repository is present, and is successfully closed.

https://jakarta.oss.sonatype.org/content/repositories/orgglassfishweb-1002/

But here's were things go awry, t

[2020-08-11 20:53] joakime commented on #129
This commit changed the nexus staging profileId (c71f5467e89ca658796cbb15129a3b80a2d93712) from `1c0c18a0fc339` to `a59edb2a44fc7`.

And that was used ... to deploy the IMPL only.

[code]

But that's not wholly correct to do, as the new stagingProfileId doesn't seem to result in something arriving at the staging repository.

The maven command line on the job currently looks like this ...

[code]

[2020-08-11 21:05] joakime commented on #129
Some more discoveries about the `stagingProfileId` that have been used / attempted in past builds.

The past ID's in use don't result in content on the repositoryId of `jakartaservletjsp-<num>` (as we would expect)

* profileId of `1c0c18a0fc339` results in content at repositoryId of `orgglassfish-<num>` (so that's a bad choice for jsp-api)
* profileId of `a59edb2a44fc7` results in content at repo

[2020-08-11 21:09] joakime commented on #129
I opened PR https://github.com/eclipse-ee4j/jsp-api/pull/177 to revert these attempts to set the nexus `stagingProfileId`, as they don't work and/or produce undesired results.

We can try with the command line provided `stagingProfileId` instead once that's merged.

[2020-08-12 13:42] joakime commented on #129
@kwsutter who tracks these `stagingProfileId` values?
How can we get the correct one for our `jsp-api` staging?
This is a blocker and we cannot continue until we get the correct information.

[2020-08-12 20:53] joakime commented on #129
@markt-asf looks like we have a valid stage now for version 3.0.0 of jsp-api.

Staging repository - https://jakarta.oss.sonatype.org/content/repositories/jakartaservletjsp-1018/

jsp-api artifact - https://jakarta.oss.sonatype.org/content/repositories/jakartaservletjsp-1018/jakarta/servlet/jsp/jakarta.servlet.jsp-api/3.0.0/

[2020-08-14 16:22] joakime commented on #129
Requested a review of the staged jsp-api
https://www.eclipse.org/lists/jsp-dev/msg00135.html

[2020-08-24 12:18] keilw opened #178 "Remove the automatic module name"
The automatic module name does not comply with the JPMS module naming conventions as it has "api" at the end.
Since this was not present in Jakarta EE 8 yet either, the recommendation by the Spec Committee is to remove it from the POM and revisit the module name (automatic or fully qualified module-info) after Jakarta EE 9.

[2020-08-24 15:32] joakime commented on #178
Where are these recommendations by the Spec Committee?
Got a link?

[2020-08-24 15:47] keilw commented on #178
Here but please don't edit the document, it was created a bit "optimistic" https://docs.google.com/document/d/1LAAHKPJyREky9fEKv0xFd9IRDgXB58It53ryfyrNPtg/edit?usp=sharing
Option F is the preferred if not mandated one by the Spec Committee after some discussion.
"Do not create new Automatic Module Names for Jakarta EE 9". Websockets did not have one in Jakarta EE 8, therefore it should be removed.

[2020-08-24 17:08] arjantijms commented on #178
I fixed the automatic id here: #179

If it needs to be removed instead, let me know.

[2020-08-25 11:20] decathorpe opened #180 "license declared in NOTICE.md missing Apache-2.0 (or: some files have wrong license headers)"
Similar issue for jsp is reported here: https://github.com/eclipse-ee4j/servlet-api/issues/347

Some files have Apache-2.0 license headers, but NOTICE.md lists the project's license as "EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0".

For example, running the "licensecheck" script on the jsp-api source tree yields the following files with Apache-2.0 license headers:

[code]

This issue seems to

[2020-08-25 13:44] joakime commented on #180
The current NOTICE file was generated by the Eclipse Foundation, using the various license/notice generators they maintain.

But I was curious how far back the Apache license went ...

Looking back to version 2.2.1 from June 2011 ...

[code]

The pom for version 2.1.1 (Sept 2008) has a reference to the Apache License as well (in it's produced javadoc)

https://repo1.maven.org/maven2/javax/servlet/

[2020-08-25 15:57] keilw commented on #178
We talked about them in the platform call and except Websocket all the others (especially EL, JSP and JSTL) seem good now. Using the package names are the best option for now, if Jakarta EE 10 or above really suddenly came up with a whole new naming convention of its own, then every single spec would have to change.

[2020-08-25 15:57] #178 closed

[2020-08-26 18:44] kwsutter commented on #129
@joakime Sorry, been on vacation...  I use the same login for https://jakarta.oss.sonatype.org/ as https://oss.sonatype.org/.  If that doesn't work for you, then I believe all you need to do is to create an issue asking for access.  It looks like this is what I had to do some time ago... https://issues.sonatype.org/browse/OSSRH-55577?filter=-2

Concerning the staging ids... It also looks like I ha

[2020-08-26 21:07] arjantijms commented on #129
I just re-staged the API, which now includes the fixed automatic module ID (cc @keilw )

https://jakarta.oss.sonatype.org/content/repositories/staging/jakarta/servlet/jsp/jakarta.servlet.jsp-api/3.0.0/

(numbered repo: https://jakarta.oss.sonatype.org/content/repositories/jakartaservletjsp-1019/)

@joakime You did PR #177 to the 3.0.0 branch, which is the branch created by the CI and gets overwrit

[2020-08-26 21:17] arjantijms commented on #129
Btw, the IDs can be requested using the Maven nexus plugin. I added an option for that in the jenkins build-and-stage job. The output is:

[code]

[2020-09-22 14:57] kwsutter commented on #129
Bump... Asking about the status of the JSP Specification draft PR.  @kazumura is the assigned Spec Committee member that can help with any questions.  And, since @arjantijms is involved with this, he's quite experienced with creating and pushing these Spec PRs through the process.  We have three remaining, missing draft PRs (JSF, JSP, and JSTL).  Thanks for your assistance!

[2020-09-23 16:32] pnicolucci opened #184 "Spec document contains "Jakarta Server Pages (JSP)""
I had brought this up on the mailing list and creating this as a place holder so we don't forget about these changes : [Mailing list thread](https://www.eclipse.org/lists/jsp-dev/msg00131.html)

[2020-09-23 22:22] edbratt opened #185 "Compatibility Certification Request, Jakarta Debugging Support for Other Languages 2.0, Eclipse GlassFish 6"
- [x] Organization Name ("Organization") and, if applicable, URL:<br/>
  Eclipse Foundation

- [x] Product Name, Version and download URL (if applicable):<br/>
  [Eclipse GlassFish 6.0](https://eclipse-ee4j.github.io/glassfish/download)
  [glassfish-6.0.0-M2-servlet5](https://github.com/eclipse-ee4j/glassfish/releases/tag/6.0.0-M2-servlet5)

- [x] Specification Name, Version and download URL:<br/>

[2020-09-24 14:41] joakime commented on #185
This issue seems mis-filed, how does this relate to jsp?

Also, jsp-api has no connection back to glassfish (meaning jsp-api doesn't use glassfish, but glassfish uses jsp-api, it's a one way relationship).

[2020-09-24 20:21] markt-asf commented on #185
JDSOL is managed as part of this project (primarily I suspect because JSP implementations are the only place the spec is implemented).

[2020-09-24 20:46] joakime commented on #185
TIL

[2020-09-29 00:52] pnicolucci commented on #129
I just created the following PR for the Debugging 2.0 specification updates: https://github.com/jakartaee/specifications/pull/279

[2020-09-29 00:52] pnicolucci commented on #130
I just created the following PR for the Debugging 2.0 specification updates: https://github.com/jakartaee/specifications/pull/279

[2020-09-29 03:32] pnicolucci commented on #129
I just created the following PR for the Pages 3.0 specification updates: https://github.com/jakartaee/specifications/pull/280

[2020-09-29 05:25] hussainnm commented on #184
As per the [Acronym Guidelines](https://jakarta.ee/legal/acronym_guidelines/), it would be better to have a line in the Preface section of the document like "References in this document to JSP refer to the Jakarta Server Pages unless otherwise noted"

[2020-10-06 01:14] Thihup opened #186 "Don't cast to URLClassLoader unconditionally"
In the class TagFileProcessor at line 588, there is a cast to URLClassLoader unconditionally.
In some environments, it may not return an URLClassLoader.

https://github.com/eclipse-ee4j/jsp-api/blob/master/impl/src/main/java/org/apache/jasper/compiler/TagFileProcessor.java#L588

[2020-10-06 16:49] ivargrimstad commented on #185
Please add a label called `certification` so it is easy to find later if needed.

[2020-10-06 18:19] ivargrimstad opened #188 "Update package for Servlet example in JDSOL spec document"
Section 9.2 contains an example with the following two import statements:

[code]
These should be replaced by:

[code]

[2020-10-07 12:58] markt-asf commented on #188
This was fixed (by you) about 6 week ago in 34dd1bc

[2020-10-07 12:58] #188 closed

[2020-10-08 08:51] markt-asf commented on #185
@edbratt Please see https://github.com/jakartaee/specifications/pull/237#discussion_r501302771
The binary referenced in this CR is not valid.

[2020-10-14 16:31] edbratt commented on #185
Debugging support is being tested in each weekly release and the implementation validated by the TCK hasn't changed. We could update it to the latest GlassFish weekly release (where is is also [verified to pass](https://ci.eclipse.org/jakartaee-tck/job/eftl-standalonetck-certification/98/junit-reports-with-handlebars/test-summary/bd1477aa-892c-439f-bb95-9b688d9653cc.html)): https://download.eclips

[2020-10-21 02:09] pnicolucci commented on #184
I'd like to pull this into the final spec before we finish the draft PR:  https://github.com/jakartaee/specifications/pull/280

[2020-10-21 12:55] #184 closed

[2020-10-21 15:03] arjantijms opened #190 "Compatibility certification request for Jakarta Server Pages 3.0"
- [x] Organization Name ("Organization") and, if applicable, URL
  Eclipse Foundation
- [x] Product Name, Version and download URL (if applicable)
  [EE4J implementation of Jakarta Server Pages 3.0.0](https://github.com/eclipse-ee4j/jsp-api/releases/download/3.0.0-RELEASE-impl/jakarta.servlet.jsp-3.0.0.jar)
  Vehicle: [GlassFish 6.0](https://download.eclipse.org/ee4j/glassfish/glassfish-6.0.0-RC1.

[2020-10-21 15:44] joakime commented on #190
Why did the staged jsp-api 3.0.0 go to the glassfish staging repo directly?
Shouldn't it go to the jsp specific staging repo?

From: https://ci.eclipse.org/jsp/job/1_jsp-api-build-and-stage/76/console

[code]

Other projects deploy to their application specific staging repo.

Example: From WebSocket
https://ci.eclipse.org/websocket/job/1_websocket-api-build-and-stage/50/console

[code]

[2020-10-21 15:45] joakime commented on #190
I don't think JSP build bot can do the release/promote step from the glassfish staging repos.

[2020-10-21 16:32] arjantijms commented on #190
The implementation goes to `orgglassfishweb`, since that are its Maven coordinates. The API goes to `jakartaservletjsp`.

[2020-10-21 16:34] arjantijms commented on #190
The JSP bot has access/privileges to both stage and release (to Central) for the following group ids:

* jakarta.jdsol
* jakarta.servlet.jsp
* org.glassfish.web

These group ids are not new, and we have released using them before, so we should be okay.

[2020-10-21 16:49] joakime commented on #190
Correct, that I knew.
The linked build I showed is for the API, not the impl.

Example:
https://ci.eclipse.org/jsp/job/1_jsp-api-build-and-stage/76/console

[code]

[2020-10-21 16:52] arjantijms commented on #190
The names might be confusing, but `jakarta.servlet.jsp-3.0.0.jar` is the implementation. Note that it installs:

`/home/jenkins/agent/workspace/1_jsp-api-build-and-stage/impl/target/jakarta.servlet.jsp-3.0.0.jar`

The API jar name is `jakarta.servlet.jsp-api-3.0.0.jar`.

The look quite similar, but notice that one has "-api" in it, and the other has not. This is a convention that several old Sun p

[2020-10-21 17:23] joakime commented on #190
Ah.
Yes, that was confusing.
I'm all good now. :-)

[2020-10-21 19:22] kwsutter opened #192 "Update Specification to remove references to "JSP""
JSP is an Oracle/JCP acronym for `Java Server Pages`.  We can not publicly use JSP to represent `Jakarta Server Pages`.  For Jakarta EE 9, we are following the suggestion [1] to just highlight the fact that (temporarily) JSP is being used to represent `Jakarta Server Pages`.  This was done in the Preface of the Specification.

In the next service release for Jakarta Server Pages (3.x or 4.0), the

[2020-10-21 20:48] joakime commented on #192
This would impact the archive names too, no?

No more `jsp-api` as a filename.

The maven coordinates as well.

It would also impact some of the spec given names for known locations of contents with the servlet spec.

Heck, it would even impact the web descriptor schema on the servlet spec, see `<servlet><jsp-file>` child-element.

It would even impact the servlet level default url-patterns of `*.

[2020-10-21 22:03] arjantijms commented on #192
@joakime There's a (temp?) exception for this usage in code (non doc), archive and project names.

Nevertheless we need to step up our game here. Project names like e.g. http://github.com/eclipse-ee4j/jsp-api haven't been addressed. I personally put in some effort to get JASPIC renamed to authentication (http://github.com/eclipse-ee4j/authentication) but I think that's one of the only projects.

[2020-10-21 22:07] joakime commented on #192
I think someone proposed just "pages" as in "Jakarta Pages" as an option.

Wonder if that means `index.pages` and `login.pages` are in our future?

[2020-10-21 22:12] arjantijms commented on #192
Why not indeed. If that has broad consensus in the community and the team we could definitely do that.

For now I guess we should address the low hanging fruit first. Indeed. remove the "jsp" term from the Maven artefacts, and the project.

[2020-10-22 17:29] #186 closed

[2020-10-22 18:30] kwsutter commented on #192
According to the guidelines, the continued use of "jsp" in the repo name, maven coordinates, etc is acceptable.  Of course, if you wish to make those type of updates (like what @arjantijms has done for jsf, jaspic, and others), then that's bonus.  But, the guidelines are clear that this usage is okay.

Another clarification...  I just received confirmation from Oracle (via the Steering Committee m

[2020-10-24 08:11] ivargrimstad opened #193 "Completion steps for JDSOL 2.0"
* Specification Committee Member...
 - [x] creates an issue in the specification project that includes the following checklist for the specification project team:

* JDSOL Specification Project Team...
 - [] promotes api staging release promotes the specification api jars to maven central. An example release job script can be found here https://wiki.eclipse.org/MavenReleaseScript.
 - [x] go throug

[2020-11-03 02:43] edbratt opened #194 "Add Frames/NoFrames to JavaDocs"
The JavaDocs that are staged for ballot review do not include frame/noframe options -- this was available in the previous version (2.3). Please consider adding this, when the next update is produced.

[2020-11-03 11:18] joakime commented on #194
The default javadoc generation is no-frames.

[code]

Perhaps the `org.eclipse.ee4j:project` parent should specify the ee4j defaults instead of making each project pick the wrong one.

[2020-11-03 11:22] arjantijms commented on #194
Interesting indeed. A quick look at the other projects seems that most projects indeed just went with the defaults.

[2020-11-03 11:34] joakime commented on #194
Ah.

The use of frames and the option to select frames vs no-frames is deprecated now in javadoc.

See:

* https://bugs.openjdk.java.net/browse/JDK-8202961 - Javadoc should not generate frames by default
* https://bugs.openjdk.java.net/browse/JDK-8196202 - Update the javadoc/doclet to generate no frames as a default. A warning should be generated if "--frames" option is specified to generate frame

[2020-11-03 15:53] edbratt commented on #194
My comparison sample was against the previous version of Pages JavaDocs. If it is the consensus of the group this is not desirable, I'll go ahead and close this taking no action. It was considered and determined not needed.

[2020-11-03 15:53] #194 closed

[2020-11-07 13:54] arjantijms commented on #129
Result of ballot: https://eclipse.org/lists/jakarta.ee-spec/msg01303.html

[2020-11-08 08:55] kazumura opened #195 "Completion steps for Pages 3.0"
* Specification Committee Member...

- [x]  creates an issue in the specification project that includes the following checklist for the specification project team:

 * Pages Specification Project Team...

- [x] promotes api staging release promotes the specification api jars to maven central. An example release job script can be found here https://wiki.eclipse.org/MavenReleaseScript.
- [x] go thro

[2020-11-11 21:23] arjantijms commented on #129
Release bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=568078

[2020-11-11 22:19] arjantijms commented on #195
specification API jar available in Maven Central: https://repo1.maven.org/maven2/jakarta/servlet/jsp/jakarta.servlet.jsp-api/3.0.0

[2020-11-11 22:43] arjantijms commented on #195
Mail sent. CC'ed @markt-asf

[2020-11-11 22:44] arjantijms commented on #195
PR for the final item: https://github.com/eclipse-ee4j/jsp-api/pull/196

[2020-11-14 12:57] Thihup opened #197 "Add automatic module name for the implementation jar"
Using the version 2.x, we could require both the API and the implementation in the module-info, because it was `jakarta.servlet.jsp.api` and `jakarta.servlet.jsp`.

Now in the version 3.0.0, the automatic module name of the API is `jakarta.servlet.jsp`. However, the implementation jar is the same name, so both end up having the same automatic module name and thus not being able to require the API

[2020-12-07 09:53] markt-asf commented on #185
It has been far more than 2 weeks required for lazy approval.  LGTM.

[2020-12-07 09:53] #185 closed

[2020-12-07 09:59] markt-asf commented on #193
@ivargrimstad How can I confirm whether or not the required email has been sent to tck@eclipse.org ?

[2020-12-07 10:00] markt-asf commented on #130
This is done.

[2020-12-07 10:00] #130 closed

[2020-12-07 10:08] ivargrimstad commented on #193
@markt-asf I'll check with Wayne as soon as Canada wakes up. I am actually not really sure if this applies to each compatible implementation of a single specification. To me, it feels like this is something required only for implementations of the platform specs. I'll get back to you!

[2020-12-07 11:58] markt-asf commented on #190
LGTM. Much more than 2 weeks for lazy consensus. No objections. So accepting (and closing).

[2020-12-07 11:58] #190 closed

[2020-12-07 11:59] markt-asf commented on #195
This is done.

[2020-12-07 11:59] #195 closed

[2020-12-07 15:30] #180 closed

[2020-12-07 16:33] ivargrimstad commented on #193
@markt-asf You're all set. This particular checklist item is actually for the implementation. In this case, I think GlassFish was the compatible implementation for the certification request, so it is their responsibility to send the email. And it is enough that they send one for the Full/Web profile. I'll put "n/a" on this checklist item and make sure it is updated for future use.

[2020-12-07 16:46] markt-asf commented on #193
Thanks. All done here then.

[2020-12-07 16:46] #193 closed

[2020-12-07 16:47] markt-asf commented on #129
All done.

[2020-12-07 16:47] #129 closed

[2020-12-23 16:53] #197 closed

[2021-09-16 12:48] markt-asf commented on #192
Given that there is no real innovation expected in the spec at this point (most of the changes are reacting to the implications of changes in the EL spec) I think it makes most sense to stick with the status quo. I'm therefore resolving this issue but we always have the option of re-opening it if the situation changes.

[2021-09-16 12:48] #192 closed

[2021-09-16 13:11] markt-asf commented on #44
I like kchung's proposal and afiedler's proposed changes to the resolvers. I intend to move forward on that basis.

The EL specification has been updated for EL 5.0 to explicitly state other specs using EKL may add their own, additional default imports. Next up is updating the JSP spec to define those additional imports and that page imports apply to EL as well.

[2021-09-20 12:48] #44 closed

[2021-09-20 15:22] markt-asf commented on #40
With the refactoring of the `ScopedAttributeELResolver` into three separate `ELResolver`s this would be simple to add to the `NotFoundELResolver`. As is often the case, the part I am finding the hardest is naming the configuration settings. Possible options are:

|JSP Property Group sub-element|Page Directive|
|-----|-----|
|el-unresolved-invalid|isELUnresolvedInvalid|
|el-unresolved-error|isELUnr

[2021-09-20 18:19] joakime commented on #40
The naming on the "JSP Property Group sub-element" seems fine to me.

Do we have any other Page Directives that use acronyms that we can crib from? (do we use `isELUnresolvedInvalid` or `isElUnresolvedInvalid`?)
Do we even want to mention the `EL`?
Example `isExpressionUnresolvedInvalid`?

Why 4 page directives like that?
The combination of "resolved" and "not-found" with "invalid" and "error" see

[2021-09-21 07:09] markt-asf commented on #40
`isELIgnored` and the equivalent `<el-ignored>`

I think we should for consistency.

I'm only intending to create one new Page Directive. The 4 were different options for the single new setting "Throw a `PropertyNotFoundException` if an EL expression contains an identifier that cannot be resolved."

And I have thought of a better name:

`<error-on-el-not-found>` / `errorOnELNotFound`

It is a litt

[2021-09-21 10:41] markt-asf commented on #42
I have been spending some time looking at this issue.

The existing specification and Javadoc appear, to me at least, to make conflicting statements relating to exactly where scripting variables defined by tags should be declared.

JSP.9.4.4 defines transformations that include when scripting variables should be declared but JSP.9.1.3 states that the transformations do not have to be performed lit

[2021-09-21 11:19] joakime commented on #40
As a setting, yeah, i like it.
Lets go with it.

[2021-09-21 12:06] markt-asf opened #206 "Remove support for isThreadSafe"
Servlet 6.0 is removing all code deprecated in Servlet 5.0 and earlier. This includes SingleThreadModel which means we need to remove support for `isThreadSafe`.

The specification document already carries a warning that this setting should be avoided so I think it is OK to remove it for this release. Since this impacts backwards compatibility do we want to increment the version to 4.0? It is a bi

[2021-09-21 12:15] markt-asf commented on #206
Thinking about it some more, that could be problematic for any JSP currently marked as `isThreadSafe=false`. Removal and 4.0 is probably the better option.

[2021-09-21 12:53] joakime commented on #206
I've been going through the code on github as a whole for users of `isThreadSafe=false` and seeing how they use it.

Search results: https://github.com/search?p=2&q=isThreadSafe+extension%3Ajsp&type=Code

So far, I've found ...

* TCK Tests
* Test cases in other projects (not mainline code)
* Main line code that has uses `isThreadSafe="false"` but also have not done anything else in the JSP that w

[2021-09-21 13:00] joakime commented on #206
The history of the Servlet spec and threading ...

The `SingleThreadModel` was deprecated in Servlet 2.4, with no replacement, and wording in the spec that makes implementations of the Servlet spec not support `SingleThreadModel`.

Then Servlet 3.0 comes along with Async Processing and makes the case for `SingleThreadModel` even more untenable.

Then Servlet 3.1 comes along with Async I/O and furt

[2021-09-21 17:59] joakime commented on #206
I think it's fair to NO-OP now, and document for removal in next version.
Going from supported to removal is a big harsh.

[2021-09-21 18:00] joakime commented on #206
Do you actually spin up multiple Servlet instances when SingleThreadModel is used?

What do you do when a Servlet service method is synchronized by the application?
Do you assume SingleThreadModel and cause multiple instances of the Servlet? or just let the app run in a bad performance mode and a single standard Servlet instance?

[2021-09-21 19:54] markt-asf commented on #206
Yes.

Tomcat does nothing so the app will (probably) perform badly.

[2021-09-23 16:17] markt-asf commented on #40
Just a note that since this option impacts runtime, what looked like a trivial change requires a significant amount of plumbing and wider API changes (including in the Servlet API) to implement. I'm not at the point where I declare that I don't think this feature is worth the effort but the thought has crossed my mind.

[2021-10-01 07:04] markt-asf commented on #206
I've been thinking about a couple of ways to avoid unexpected problems for those applications that are still using this:
- NO-OP (allow JSP compilation to continue without SingleThreadModel)
- log a warning and allow JSP compilation to continue without SingleThreadModel
- throw an exception

The more I think about this, the more I like throwing an exception as it is much safer. I'd rather a JSP di

[2021-10-01 13:06] #40 closed

[2021-10-05 10:19] markt-asf commented on #206
Throwing the exception just brings us back to breaking stuff - which we were trying to void. We can;t use `SingleThreadModel` but we can synchronise the service method which will achieve the same result but with performance implications. That seems like a reasonable middle ground assuming we deprecate `isThreadSafe` with a view to removing it.

[2021-10-05 18:51] #42 closed

[2021-11-02 16:47] #206 closed

[2021-12-22 14:26] joakime opened #222 "Move this repo to https://github.com/jakartaee"
_Messages seen in other eclipse-ee4j project issues from @arjantijms_

I think this is a good opportunity to also get the name changed from "JSP" to "Jakarta Pages" based on past discussions about the problems with the "JSP" moniker.

Probably something like ... https://github.com/jakartaee/pages

[2022-04-04 07:06] ttelang opened #224 "URL to outdated XML specification is used in section 1.3.10"
In section 1.3.10 replace the URL below

Outdated link:
http://www.w3c.org/TR/2000/REC-xml-20001006#sec-notation

with

Latest link:
https://www.w3.org/TR/xml/#sec-notation

[2022-04-04 18:54] arjantijms opened #225 "Prune jakarta.servlet.jsp.el.Expression, VariableResolver etc"
In the `jakarta.servlet.jsp.el` we have a couple of types that were deprecated more than a decade ago:

[code]

We unfortunately forgot to remove them for Pages 3.1/Jakarta EE 10, but should do so for the next version.

[2022-04-20 19:09] markt-asf opened #226 "Make <jsp:plugin> No-OP"
The API behind `<jsp:plugin>`, NPAPI has been removed from all major browsers. Also applets have been removed at the platform level.

While it is short notice, I intend to updates the Jakarta Pages spec for the 3.1 release as follows:

- containers will be expected to ignore (i.e. treat as a NO-OP) any `<jsp:plugin>` tags present in JSP pages
- the TCK will be updated to check these are ignored ra

[2022-04-20 19:11] joakime commented on #226
I'm in agreement :+1:

[2022-04-20 22:36] arjantijms opened #227 "Compatibility certification request for Jakarta Server Pages 3.1"
- [x] Organization Name ("Organization") and, if applicable, URL
  Eclipse Foundation
- [x] Product Name, Version and download URL (if applicable)
  [Eclipse WaSP 3.1.0-M3](https://github.com/eclipse-ee4j/wasp)
  Vehicle: [Eclipse Glassfish 7.0.0-28-04-2022](https://github.com/eclipse-ee4j/glassfish/releases/download/7.0.0-28-04-2022/glassfish.zip)
- [x] Specification Name, Version and download UR

[2022-04-21 07:39] markt-asf commented on #227
Sorry, but you are going to need to re-run the TCK once it has been updated in light of #226. That should hopefully happen later today.

[2022-04-21 08:28] markt-asf commented on #225
+1. That means the next version will be 4.0

[2022-04-21 09:51] arjantijms commented on #227
That's fine. Thanks for the heads-ups.

[2022-04-21 17:39] #224 closed

[2022-04-21 17:39] #226 closed

[2022-04-28 13:06] #227 closed

[2022-05-04 18:24] arjantijms commented on #222
The repo has been moved to the suggested location.

[2022-05-04 18:30] joakime commented on #222
Woah, that was smooth, I didn't even notice the change.
Closing ...

[2022-05-04 18:30] #222 closed

[2022-05-17 13:49] keilw opened #230 "Finalize Jakarta Pages 3.1"
- [X] promotes api staging release promotes the specification api jars to maven central. An example release job script can be found here https://wiki.eclipse.org/MavenReleaseScript.
- [x] go through the merged jakarta.ee specification website page to verify all the links are valid.
- [x] if XML Schemas are published on https://jakarta.ee/schemas, send a PR to update the status from Draft to Final.

[2022-05-17 21:24] arjantijms commented on #230
API jar now available: https://jakarta.oss.sonatype.org/content/repositories/staging/jakarta/servlet/jsp/jakarta.servlet.jsp-api/3.1.0/

[2022-05-18 08:36] markt-asf commented on #230
No XML schemas, no need to merge release branch.
Confirmed the staged repo has been replicated to Maven Central.
Just need to check the website links.

[2022-05-18 08:42] markt-asf commented on #230
Links all look good.
No strictly on the checklist but I want to bump the version number before closing this.

[2022-05-18 08:47] arjantijms commented on #230
Sounds good, thanks!

[2022-05-18 09:05] markt-asf commented on #230
All done.

[2022-05-18 09:05] #230 closed

[2022-11-10 17:03] markt-asf commented on #225
Fixed as part of #234

[2022-11-10 17:03] #225 closed

[2022-11-18 16:51] markt-asf opened #235 "Update ErrorData for new atrtribute"
Servlet 6.1 has added a new attribute for error dispatch `jakarta.servlet.error.query_string`.

This needs to be added to `ErrorData`

[2022-11-18 17:05] markt-asf opened #236 "Remove the remaining deprecated code"

[2022-11-18 17:13] markt-asf commented on #236
Created in error

[2022-11-18 17:13] #236 closed